<nav class="navbar navbar-expand-lg bg-light sticky-top border border-bottom">
    <div class="container-fluid" style="width: 95%;">
        <a class="navbar-brand" href="">
            <img src="../../../assets/images/10237112.png" alt="tree-logo" width="30" height="24" class="d-inline-block align-text-top">
            Olympiad
          </a>
      
          <!-- Conditionally show the Admin Login button only on the landing page -->
          <div class="ms-auto">
            <a class="btn btn-sm btn-light me-2" routerLink="manage-brikkho" routerLinkActive="active">Manage Brikkho</a>
            <a class="btn btn-sm btn-light" routerLink="manage-deyal" routerLinkActive="active">Manage Deyal</a>
          </div>
    </div>
</nav>
