<app-navbar></app-navbar>
<div class="container my-5">
    <div class="row">
      <!-- Tree Olympiad Registration Card -->
      <div class="col-md-6 mb-4">
        <div class="card text-center tree-card">
          <div class="card-body">
            <div class="card-icon">
              <i class="bi bi-tree-fill"></i>
            </div>
            <h5 class="card-title mt-2">Tree Olympiad Registration</h5>
            <p class="card-text">Join the Tree Olympiad and contribute to a greener future.</p>
            <a routerLink="tree-olympiad-registration" class="btn btn-success mb-2">Register Now</a>
          </div>
        </div>
      </div>
  
      <!-- Deyalpotrika Registration Card -->
      <div class="col-md-6 mb-4">
        <div class="card text-center deyalpotrika-card">
          <div class="card-body">
            <div class="card-icon-potrika">
              <i class="bi bi-book-fill"></i>
            </div>
            <h5 class="card-title mt-2">Deyalpotrika Registration</h5>
            <p class="card-text">Be part of our Deyalpotrika. Showcase your creativity and ideas.</p>
            <a routerLink="deyalpotrika-registration" class="btn btn-warning mb-2">Join Now</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Syllabus Card -->
    <div class="card syllabus-card mt-5">
      <div class="card-body">
        <h4 class="card-title text-center">Syllabus for Our Climate Warriors</h4>
        <p class="card-text text-center">Access the syllabus for different grade levels and contribute to the green future!</p>

        <div class="row justify-content-center">
          <!-- Syllabus for Grades 3-5 -->
          <div class="col-md-4 text-center mb-4">
            <h6>Syllabus For Our Climate Warriors (3-5)</h6>
            <a href="https://syllabusfiledocs.blob.core.windows.net/allsyllabus/SyllabusForOurClimateWarriors(3-5).pdf" 
              target="_blank" class="btn btn-outline-success mt-2">Download</a>
          </div>

          <!-- Syllabus for Grades 6-8 -->
          <div class="col-md-4 text-center mb-4">
            <h6>Syllabus For Our Climate Warriors (6-8)</h6>
            <a href="https://syllabusfiledocs.blob.core.windows.net/allsyllabus/SyllabusForOurClimateWarriors(6-8).pdf" 
              target="_blank" class="btn btn-outline-success mt-2">Download</a>
          </div>

          <!-- Syllabus for Grades 9-10 -->
          <div class="col-md-4 text-center mb-4">
            <h6>Syllabus For Our Climate Warriors (9-10)</h6>
            <a href="https://syllabusfiledocs.blob.core.windows.net/allsyllabus/SyllabusForOurClimateWarriors(9-10).pdf" 
              target="_blank" class="btn btn-outline-success mt-2">Download</a>
          </div>
        </div>
      </div>
    </div>
</div>