.card-icon {
  font-size: 4rem;
  color: #28a745; /* Adjust for tree icon */
}

.card-icon-potrika {
  font-size: 4rem;
  color: #ffc107; /* Adjust for tree icon */
}

.tree-card {
  background-color: #e9f7ef; /* Light green background */
  border: 1px solid #c3e6cb; /* Light green border */
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(60, 179, 113, 0.1); /* Green box shadow */
}

.deyalpotrika-card {
  background-color: #fff7e6; /* Light orange background */
  border: 1px solid #ffe5b4; /* Light orange border */
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.1); /* Orange box shadow */
}

.btn-success {
  background-color: #28a745;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 20px;
}

.syllabus-card {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.syllabus-card .card-title {
  font-weight: 700;
  font-size: 1.8rem;
}

.syllabus-card .card-text {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 30px;
}

.syllabus-card h6 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.btn-outline-success {
  color: #28a745;
  border: 1px solid #28a745;
  border-radius: 30px;
  padding: 6px 16px;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}