<app-navbar></app-navbar>
<div class="container my-5">
    <div class="row">
      <!-- Tree Olympiad Registration Card -->
      <div class="col-md-6 mb-4">
        <div class="card text-center tree-card">
          <div class="card-body">
            <div class="card-icon">
              <i class="bi bi-tree-fill"></i>
            </div>
            <h5 class="card-title mt-2">Tree Olympiad Registration</h5>
            <p class="card-text">Join the Tree Olympiad and contribute to a greener future.</p>
            <a routerLink="tree-olympiad-registration" class="btn btn-success mb-2">Register Now</a>
          </div>
        </div>
      </div>
  
      <!-- Deyalpotrika Registration Card -->
      <div class="col-md-6 mb-4">
        <div class="card text-center deyalpotrika-card">
          <div class="card-body">
            <div class="card-icon-potrika">
              <i class="bi bi-book-fill"></i>
            </div>
            <h5 class="card-title mt-2">Deyalpotrika Registration</h5>
            <p class="card-text">Be part of our Deyalpotrika. Showcase your creativity and ideas.</p>
            <a routerLink="deyalpotrika-registration" class="btn btn-warning mb-2">Join Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>